<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<style>
	   body,div,p,a{margin:0;padding:0;}
	   body{
          background: #000c1d;
	   }
	   a{text-decoration: none;}
	   .content{
	   	width:1000px;
	   	margin:0 auto;
	   }
	   .header{
	   	width:100%;
	   	background: #fff;
	   }
	   .footer{
	   	height:100px;
	   	background: #01325a;
	   	width:100%;
	   }
	   .main{
	   	position:relative;

	   }
	   .link{
	   	 color:#000;
	   	 font-weight:bold;
	   	 box-shadow: 0px 0px 40px #fff;

	   }
	   .link_a{
            position: absolute;
		    width: 206px;
		    height: 205px;
		    display: block;
		    top: 105px;
		    right: 69px;
		    border-radius: 100px;
		    text-align: center;
		    line-height: 205px;
		    font-size: 45px;
		    color:#fff;
	   }
	   .link_b{
            position: absolute;
		    width: 177px;
		    height: 177px;
		    display: block;
		    top: 233px;
		    right: 400px;
		    border-radius: 100px;
		    text-align: center;
		    line-height: 177px;
		    font-size: 30px;
	   }
	   .link_c{
            position: absolute;
		    width: 306px;
		    height: 306px;
		    display: block;
		    top: 405px;
		    left: 166px;
		    border-radius: 200px;
		    text-align: center;
		    line-height: 280px;
		    font-size: 45px;
			   }
	   .link_d{
            position: absolute;
		    width: 180px;
		    height: 180px;
		    display: block;
		    bottom: 80px;
		    right: 162px;
		    border-radius: 100px;
		    text-align: center;
		    line-height: 180px;
		    font-size: 30px;
	   }
	</style>
</head>
<body>
	<div class="header"></div>
	<div class="main content">
		<%=image_tag("1.jpg", alt:"")%>
		<a href="javascript:void(0);" class="link link_a">监控</a>
		<a href="javascript:void(0);" class="link link_b">举证</a>
		<a href="javascript:void(0);" class="link link_c">肃清</a>
		<a href="javascript:void(0);" class="link link_d">支持</a>
	</div>
	<div class="footer"></div>
</body>
</html>